@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mukta", sans-serif;
}

header {
  background: radial-gradient(#fff, #ffd6d6);
}
.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 25px;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding: 0 25px;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  position: sticky;
  z-index: 1000;
  top: 0;
}

.navbar .logo img {
  width: 125px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  list-style: none;
  margin-bottom: 20px;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #555;
}
.navbar img {
  width: 30px;
  height: 30px;
}
.menu-icon {
  width: 20px;
  margin-left: 20px;
  display: none;
}
/* Media quary */
@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 60px;
    left: 0;
    background: transparent;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
    margin-bottom: 10px;
  }
  nav ul li {
    display: block;
    margin: 5px 50px 5px 0;
  }
  nav ul li a {
    color: #404040;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
}

/* Media quary */
.row {
  display: flex;

  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
header .row {
  margin-top: 70px;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover {
  background: #563434;
}
.col-2 a {
  text-decoration: none;
}
/* Header End */
/* Categories Start */
.categories {
  margin: 70px 0;
}

.categories img {
  width: 100%;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
/* Feature  Product */
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4:hover {
  transform: translateY(-5px);
}
.products img {
  width: 100%;
}
.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after {
  content: "";
  background: #ff523b;
  width: 60px;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4 {
  color: #555;
  font-weight: normal;
  font-size: 18px;
}
.col-4 p {
  font-size: 16px;
}
.rating {
  color: #ff523b;
}

.offer {
  margin-top: 80px;
  background: radial-gradient(#fff, #ffd6d6);
  padding: 30px 0;
}
.col-2 .product-img {
  padding: 50px;
}
small {
  color: #555;
  text-align: justify;
}

.review-img {
  border-radius: 90%;
  padding: 20px;
  margin: top 20px;
  width: 50%;
}
.testimonial {
  padding-top: 70px;
}
.testimonial .col-3 {
  text-align: center;
  padding: 20px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
  border-radius: 4px;
}
.user-name {
  color: #ff523b;
  font-size: 18px;
  font-weight: 600;
}
.testimonial .col-3 p {
  text-align: justify;
  color: #555;
}

.testimonial .col-3:hover {
  transform: translateY(-10px);
}

/* Brands */
.brands {
  margin: 100px auto;
}
.col-5 {
  flex-basis: 20%;
  min-width: 160px;
}
.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-5 img:hover {
  filter: grayscale(0);
}
/* Brand End */

/* Footer */
.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1 {
  flex-basis: 30%;
}
.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3,
.footer-col-4 {
  flex-basis: 12.5%;
  text-align: center;
}
ul {
  list-style: none;
}
.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 140px;
  margin-right: 20px;
}

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.copyright {
  margin: 30px auto;
  text-align: center;
  font-size: 18px;
}
/* Product Page*/
.product-title {
  justify-content: space-between;
  margin: 100px auto 50px;
}

select {
  border: 1px solid #ff523b;
  padding: 5px;
}
select:focus {
  outline: none;
}

.page-btn {
  margin: 0 auto 80px;
}

.page-btn span {
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  border-radius: 4px;
  transition: transform 0.5s;
}
.page-btn span:hover {
  background: #ff523b;
  color: #fff;
  transform: translateX(-2px);
}
